h1, h2, nav li, .pictures_text, .pictures_text a, p, .small-btn,.button_red input, footer, footer a, .have_block .textwidget{
  color: $white;

}

.block_pictures h2, .block_pictures p,.block_pictures_two h2, .block_pictures_two p {
  color: #343435;
}
.text-center{
 p{
   color: black;
   text-align: justify;
 }

  h2{
    color: black;
    text-align: center;
  }

 }